<h1>Bienvenue <%= @first_name %> </h1>
<%# VERIFIE SI IL Y A UNE SESSION %>
<% if User.find_by(id: session[:user_id]) %>
 <h2><%= User.find_by(id: session[:user_id]).first_name %> !</h2>
<% else %>
<div class="one">---</div>

<% end %>


<a style="color: #ff00ff" href="../gossips/new" class="card-link">Créer votre potin</a>
<p>Voici la liste des potins :</p>


<% @gossips.each do |i| %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><b>Auteur du gossip: </b><%= i.user.first_name %></h5>
    <h5 class="card-text"><b>Titre du gossip:</b> <%= i.title %></h5>
    <a style="color: #ff00ff" href="../gossips/<%=i.id%>" class="card-link">En savoir plus...</a>
  </div>
</div>

<%end%>
